@using libanvl.monkey.theme.Model

<section id="menu" class="@(Visible ? "is-menu-visible" : "")" @onclick="() => VisibilityRequested.InvokeAsync(false)">

    <!-- Links -->
    @if (SiteInfo.Links is not null)
    {
        <section>
            <ul class="links">
                @foreach (var link in SiteInfo.Links)
                {
                    <li>
                        <NavLink href="@link.Href" @onclick="() => VisibilityRequested.InvokeAsync(false)">
                            <h3>@link.Title</h3>
                            @if (link.Description is not null)
                            {
                                <p>@link.Description</p>
                            }
                        </NavLink>
                    </li>
                }
            </ul>
        </section>
    }

    <!-- Actions -->
    <section>
        <Actions Stacked="@true" Children="@(new[] {
          new LargeButtonAction("Log In", "", "fit"),
        })" />
    </section>
</section>

@code {
    [CascadingParameter] public SiteInfo SiteInfo { get; set; }

    [Parameter] public bool Visible { get; set; }

    [Parameter] public EventCallback<bool> VisibilityRequested { get; set; }
}