@using libanvl.monkey.theme.Model
<article class="post">
    <header>
        <div class="title">
            <h2><a href="@TitleHref">@Title</a></h2>
            <p>@SubTitle</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">November 1, 2015</time>
            <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
        </div>
    </header>

    @if (FeaturedImage is not null)
    {
        <a href="single.html" class="image featured"><img src="@FeaturedImage" alt="" /></a>
    }

    @ChildContent

    <footer>
        @if (EnableActions)
        {
          <Actions Children="@(new[] { new LargeButtonAction("Continue Reading", TitleHref ?? string.Empty) })"/>
        }

        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart">28</a></li>
            <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
    </footer>
</article>

@code {
    [Parameter] public string Title { get; set; } = "Mauris neque quam";

    [Parameter] public string SubTitle { get; set; } = "Lorem ipsum dolor amet nullam consequat etiam feugiat";

    [Parameter] public string? FeaturedImage { get; set; }

    [Parameter] public string? TitleHref { get; set; }

    [Parameter] public bool EnableActions { get; set; } = true;

    [Parameter] public RenderFragment? ChildContent { get; set; }
}
